[submodule "bundles/django-pagedown"]
	path = bundles/django-pagedown
	url = https://github.com/timmyomahony/django-pagedown.git
[submodule "bundles/django-solo"]
	path = bundles/django-solo
	url = https://github.com/lazybird/django-solo.git
[submodule "bundles/python-markdown2"]
	path = bundles/python-markdown2
	url = https://github.com/trentm/python-markdown2.git
[submodule "bundles/django-admin-bootstrapped"]
	path = bundles/django-admin-bootstrapped
	url = https://github.com/django-admin-bootstrapped/django-admin-bootstrapped.git
