{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
    {% if not object_list %}
    	<h2>没有相关文章</h2>
    {% else %}
    {% for article in object_list %}
	<h2><a href="{% url "detail" pk=article.id %}">{{ article.title }}</a></h2>
	<p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.date_time | date:"Y M d" }}</p>
	<hr>

	<p>
		{{ article.content|custom_markdown|truncatewords_html:10 }}
	</p>
	<p align="right"><a class="btn btn-default" href="{% url "detail" pk=article.id %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    {% endfor %}

    <!-- Pager -->
    {% if is_paginated %}
      <ul class="pager">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&larr; 上一页</a></li>
      {% endif %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">下一页 &rarr;</a></li>
      {% endif %}
      </ul>
    {% endif %}
    {% endif %}
{% endblock %}
