{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
<!-- Page Content -->
            <!-- Blog Post Content Column -->

                <!-- Blog Post -->

                <!-- Title -->
		<h2>{{ post.title }}</h2>

                <!-- Date/Time -->
		<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date_time|date:"Y M d"}} <span class="glyphicon glyphicon-folder-close"></span> <span class="label label-danger">{{ post.category }}</span></p>

                <hr>

                <!-- Post Content -->
		<p>{{ post.content|custom_markdown }}</p>

		{% include "duoshuo.html" %}
{% endblock %}
