{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
                <h1 class="page-header">
                   {{ site_info.name }} 
		   <small>{{ site_info.description }}</small>
                </h1>

                <!-- First Blog Post -->
		{% for post in post_list %}
                <h2>
			<a href="{% url "detail" pk=post.id %}">{{ post.title }}</a>
                </h2>
		<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date_time | date:"Y M d" }} <span class="label label-danger">{{ post.category }}</span></p>
                <hr>
		<p>
                   {{ post.content|custom_markdown|truncatewords_html:100  }}
		</p>
		<p align="right"><a class="btn btn-default" href="{% url "detail" pk=post.id %}">继续阅读<span class="glyphicon glyphicon-chevron-right"></span></a></p>

                <hr>
	{% endfor %}
                <!-- Pager -->
		{% if is_paginated %}
                <ul class="pager">
		{% if page_obj.has_previous %}
                    <li class="previous">
			<a href="?page={{ page_obj.previous_page_number }}">&larr; 上一页</a>
                    </li>
		{% endif %}
		{% if page_obj.has_next %}
                    <li class="next">
			    <a href="?page={{ page_obj.next_page_number }}#">下一页 &rarr;</a>
                    </li>
		{% endif %}
                </ul>
		{% endif %}
{% endblock %}
