{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
<!-- Page Content -->
            <!-- Blog Post Content Column -->

                <!-- Blog Post -->

                <!-- Title -->
		<h1>{{ post.title }}</h1>

                <!-- Date/Time -->
		<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date_time|date:"Y M d"}}</p>

                <hr>

                <!-- Post Content -->
		<p>{{ post.content|custom_markdown }}</p>

		{% include "duoshuo.html" %}
{% endblock %}
