<!-- Side Widget Well -->
<div class="well">
	<h5><span class="glyphicon glyphicon-pencil"></span> 开发还在继续……</h5>
	<p>本站由 Django + MySQL + Bootstrap 搭建而成，部署在新浪云 SAE 之上，源代码开放于 GitHub。不定期提交更新并在博客中直播开发进度。欢迎交流。</p>
</div>

<!-- Side Widget categories -->
<div class="list-group"> 
	<strong><a class="list-group-item active">
		<span class="glyphicon glyphicon-folder-close"></span> 文章分类</a></strong>
	{% for category in categories %}
		<div class="list-group-item">
			<span class="badge">{{ category.num_article }}</span>
			<a href="{% url "search_category" category.name %}">{{ category.name }}</a>
		</div>
	{% endfor %}
</div>

<!-- Side Widget categories -->
<div class="list-group"> 
	<strong><a class="list-group-item active">
		<span class="glyphicon glyphicon-calendar"></span> 按月归档</a></strong>
	{% for each in year_month_counter %}
		<div class="list-group-item">
			<span class="badge">{{ each.2 }}</span>
			<a href="{% url "month_archive" year=each.0 month=each.1 %}">{{ each.0 }}年{{ each.1 }}月</a>
		</div>
	{% endfor %}
</div>
                <!-- links -->
		<div class="well"> 
		  <h5><span class="glyphicon glyphicon-link"></span> 链接</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/ButteredCat">我的 GitHub</a>
                                </li>
                                <li><a href="http://weibo.com/ButteredCat">我的微博</a>
                                </li>
                                <li><a href="http://photo.butteredcat.org">我的摄影博客</a>
                                </li>
                                <li><a href="http://sae.sina.com.cn">新浪云（SAE）</a>
                                </li>
                                <li><a href="http://libs.useso.com">360 前端公共库 CDN</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="https://docs.djangoproject.com/en/1.8/#django-documentation">Django documentation</a>
                                </li>
                                <li><a href="http://www.djangobook.com/en/2.0/index.html">Django Book 2.0</a>
                                </li>
                                <li><a href="http://djangobook.py3k.cn/2.0/">Django Book 2.0 中文版</a>
                                </li>
				<li><a href="https://www.djangopackages.com">Django Packages</a>
				</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

