<!-- Side Widget Well -->
<div class="well">
	<h4>Side Widget Well</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>

<!-- Side Widget categories -->
<div class="list-group"> 
	<b><a class="list-group-item active">文章分类</a></b>
	{% for category in categories %}
		<div class="list-group-item">
			<span class="badge">{{ category.num_article }}</span>
			<a href="{% url "search_category" category.name %}">{{ category.name }}</a>
		</div>
	{% endfor %}
</div>

                <!-- links -->
		<div class="well"> 
                    <h4>链接</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/ButteredCat">我的 GitHub</a>
                                </li>
                                <li><a href="http://weibo.com/ButteredCat">我的微博</a>
                                </li>
                                <li><a href="http://photo.butteredcat.org">我的摄影博客</a>
                                </li>
                                <li><a href="http://sae.sina.com.cn">新浪云（SAE）</a>
                                </li>
                                <li><a href="http://libs.useso.com">360 前端公共库 CDN</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="https://docs.djangoproject.com/en/1.8/#django-documentation">Django documentation</a>
                                </li>
                                <li><a href="http://www.djangobook.com/en/2.0/index.html">Django Book 2.0</a>
                                </li>
                                <li><a href="http://djangobook.py3k.cn/2.0/">Django Book 2.0 中文版</a>
                                </li>
				<li><a href="https://www.djangopackages.com">Django Packages</a>
				</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

